$main-bg-color: #f5f5f5;
$border-color: #E7E7E7;

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

body{
    margin-bottom: 100px;
    background-color: $main-bg-color;
}

.iframe-setting {
  overflow: hidden; 
  height: 100;  
  width: 100%; 
  position: absolute;
}

ul{
    margin:0;
    padding:0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.values {
  background-image: url('./images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.more{
    border-bottom: 1px solid #ddd;
}

.navbar{
    border-bottom: 2px solid $border-color;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    ul.navbar-list {
        list-style: none;
    }
    li.navbar-item{
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    a.navbar-link {
        text-decoration: none;
        margin-right: 35px;
    }
}

#footer{
    border-top: 2px solid $border-color;
    padding-top: 10px;
    // position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    margin-bottom: 4rem;
}

