{% extends "base.html" %}
{% block content %}
    <div class='row'>
        <div class='container'>
        <h2>About us</h2>
        <p>Tri-River Pty Ltd is sydney-based digital service company.
        We create, develop and maintain web solutions for all businesses.
        </p>
        <h2>Why us</h2>
        <p>
        Our team has extensive experience building websites especially e-commerce solutions.
        </p>
        <h2>Reach us</h2>
        <p>
        tri-river at gamil dot com.
        </p>
        </div>
    </div>
{% endblock %}
