<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110018162-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110018162-1');
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="/css/tri-river.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>BZ MARKET {% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  {% block body %}
  <body>
    <nav class='navbar'>
      <div class='container'>
      <ul class='navbar-list'>
        <li class='navbar-item'><a class='navbar-link' href="/">Home</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/tech">Tech</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/service">Solution</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/about">About Us</a></li>
      </ul>
      <div class='u-pull-right'>
        {% if user %}
        <p>
          Welcome, {{ user.email() }}!
          <a href="{{ logout_url }}">Sign Out</a>
        </p>
        {% else %}
        <p>
          <a href="{{ login_url }}">Sign in or register</a>.
        </p>
        {% endif %}
      </div>
      </div>
    </nav>

  <div id="content">
      {% block content %}{% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
      <div class='container'>
    &copy; Copyright 2015-17 by <a href="http://www.brianzhao.xyz/">Brian Zhao</a>.
  </div>
    {% endblock %}
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
{% endblock %}
</html>



