<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/skeleton.css" rel="stylesheet">
    <link href="css/tri-river.css" rel="stylesheet">
    <title>Tri-River Pty Ltd {% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  {% block body %}
  <body>
    <nav class='navbar'>
      <div class='container'>
      <ul class='navbar-list'>
        <li class='navbar-item'><a class='navbar-link' href="/">Home</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/tech">Tech</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/service">eCommerce Solution</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/logistics">Logistics Solution</a></li>
        <li class='navbar-item'><a class='navbar-link' href="/about">About Us</a></li>
      </ul>
      <div class='u-pull-right'>
        {% if user %}
        <p>
          Welcome, {{ user.email() }}!
          <a href="{{ logout_url }}">Sign Out</a>
        </p>
        {% else %}
        <p>
          Welcome!
          <a href="{{ login_url }}">Sign in or register</a>.
        </p>
        {% endif %}
      </div>
      </div>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
      {% block footer %}
        <div class='container'>
      &copy; Copyright 2015 by <a href="http://www.tri-river.com.au/">Tri-River Pty Ltd</a>. ABN 54 604 513 975
    </div>
      {% endblock %}
    </div>
  {% endblock %}
  </body>
</html>



