{% extends "base.html" %}
{% block content %}
  <div class="mdl-grid">
    <h3>ASX 200 overview</h3>
    <div class="mdl-cell mdl-cell--12-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Code</th>
          <th class="mdl-data-table__cell--non-numeric">Company</th>
          <th class="mdl-data-table__cell--non-numeric">PE</th>
          <th class="mdl-data-table__cell--non-numeric">EPS</th>
          <th class="mdl-data-table__cell--non-numeric">Last Price</th>
          <th class="mdl-data-table__cell--non-numeric">Change %</th>
          <th class="mdl-data-table__cell--non-numeric">Dividend Yeild</th>
          <th class="mdl-data-table__cell--non-numeric">Sector</th>
          <th class="mdl-data-table__cell--non-numeric">Volumn</th>
          <th class="mdl-data-table__cell--non-numeric">Market Cap</th>
          <th class="mdl-data-table__cell--non-numeric">Total Shares</th>
          <th class="mdl-data-table__cell--non-numeric">ASX type</th>
        </tr>
      </thead>
      <tbody>
        {% for share in shares%}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">
              <a href="/price/{{share.code}}">{{share.code}}</a></td>
            <td class="mdl-data-table__cell--non-numeric">{{share.name_full}}</td>
            <td>{{share.pe}}</td>
            <td>{{share.eps}}</td>
            <td>{{share.last_price}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.previous_day_percentage_change}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.annual_dividend_yield}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.sector_name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.volume}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.market_cap}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.number_of_shares}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{share.desc_full}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
  </div>
{% endblock %}

