{% extends "base.html" %}
{% block content %}
    <div class="section hero">
      <div class="container">
        <div class="row">
          <div class="one-half column">
            <h4 class="hero-heading">Welcome to Tri-River</h4>
          </div>
          <div class="one-half column">
          </div>
        </div>
      </div>
    </div>

    <div class="section values">
        <div class="container">
          <div class="row">
            <div class="one-third column value">
              <h2 class="value-multiplier">eCommerce</h2>
              <h5 class="value-heading">21st Centry Global Trends</h5>
              <p class="value-description">In 2012, ecommerce sales topped $1 trillion for the first time in history, and keep growing</p>
            </div>
            <div class="one-third column value">
              <h2 class="value-multiplier">IT</h2>
              <h5 class="value-heading">The technology is the future</h5>
              <p class="value-description">Electronic devices are part of our world, and it will be easier, faster, and better</p>
            </div>
            <div class="one-third column value">
              <h2 class="value-multiplier">Logistics</h2>
              <h5 class="value-heading">Always be there physically</h5>
              <p class="value-description">eCommerce needs fulfillment, logistics is essential and will achieve that</p>
            </div>
          </div>
        </div>
      </div>

    <div class="section more">
    <div class="container">
      <h3 class="section-heading">Stay Tuned, More to Come</h3>
      <p class="section-description">Why not have a cup of coffe, and chat about this!</p>
      <a class="button button-primary" href="/about">Just shot us an email</a>
    </div>
    </div>
{% endblock %}

