{% extends "base.html" %}

{% block body %}
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Closure</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">API</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Demo</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Js Doc</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <iframe src="http://google.github.io/closure-library/api/"
                class="iframe-setting" height="100%" width="100%">
        </iframe>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
        <iframe src="https://google.github.io/closure-library/source/closure/goog/demos/"
                class="iframe-setting" height="100%" width="100%">
        </iframe>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
        <a href="https://developers.google.com/closure/compiler/docs/js-for-compiler#overview">
        JsDoc
        </a>
      </div>
    </section>
  </main>
</div>
{% endblock %}
